html {
	font-size: 62.5%;
	box-sizing: border-box;
}
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

/* BODY, HEADER AND MAIN */
body {
	min-height: 100%;
	min-width: 100%;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 1.6rem;
	background-color: #47464d;
}
.flex {
	display: flex;
}
.container {
	max-width: 110rem;
	overflow: hidden;
	margin: 0 auto;
}
.btn,
a {
	cursor: pointer;
}
header {
	background-color: #e96620;
	padding: 2rem 5rem;
	position: fixed;
	top: 0;
	width: 100%;
}
.logo {
	font-size: 2.5rem;
	font-weight: 700;
	color: #fff;
}
.add-book {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	color: #e96620;
	font-size: 2rem;
	font-weight: bold;
	margin-left: auto;
	padding: .7rem 1rem;
	border: 2px solid #fff;
	border-radius: .5rem;
	-webkit-border-radius: .5rem;
	-moz-border-radius: .5rem;
	-ms-border-radius: .5rem;
	-o-border-radius: .5rem;
}
.add-book:focus,
.add-book:hover {
	background-color: #e96620;
	color: #fff;
}
main {
	margin-top: 10rem;
}

/* UTILITIES */
.card {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	margin: 2rem;
	padding: 2rem;
	text-align: center;
	box-shadow: 2px 2px 5px 2px #47464d18;
	border-radius: 1rem;
	-webkit-border-radius: 1rem;
	-moz-border-radius: 1rem;
	-ms-border-radius: 1rem;
	-o-border-radius: 1rem;
}
.btn {
	font-size: inherit;
	font-weight: bold;
	border: none;
	width: 11rem;
	padding: 1rem;
	border-radius: 0.5rem;
	-webkit-border-radius: 0.5rem;
	-moz-border-radius: 0.5rem;
	-ms-border-radius: 0.5rem;
	-o-border-radius: 0.5rem;
}
.btn-toggle {
	background-color: rgb(55, 55, 192);
	color: #fff;
}
.btn-toggle:active,
.btn-toggle:hover {
	background-color: #fff;
	color: rgb(55, 55, 192);
	outline: rgb(55, 55, 192) 1px solid;
}
.btn-del {
	background-color: #d60729;
	color: #fff;
}
.btn-del:active,
.btn-del:hover {
	background-color: #fff;
	color: #d60729;
	outline: #d60729 1px solid;
}
